/* 
    author:zjvivi
    version:1.0
    date:2022-3-13
    【说明】
    1、页面背景色为：rgba(255, 253, 248, 0.39)
    2、logo高度为84px，其他元素高度可以根据效果图自定，有图片的需要参考图片大小
    3、页面圆角矩形边框： #ECB390，2px
    4、左边两栏的标题背景色为： rgba(236, 179, 144, 1)，宽度102px，高度25px;
    5、左边第1栏的灰色矩形进度条：rgba(237, 237, 237, 0.39)，绿色矩形进度条：#65C18C
    6、页脚上方的分割线颜色：#FFC0D3，粗细为3px
    7、页面布局时注意对齐
*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:12px;
   
}
